langchain==0.3.14
langchain-community
langchain-experimental
langchain-groq
faiss-cpu
rank_bm25
sentence-transformers[onnx]
FlagEmbedding
python-dotenv
pymupdf4llm
shortuuid
streamlit
streamlit_option_menu
streamlit_lottie
hydralit
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
pyrebase4
numpy==1.26.4
